<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <!-- main start-->

    <!-- views/login/login.ejs -->
<!--
<div class="login">

<div class="message"><%= loginMessage %></div>
<div class="buttons">
  <button onclick="location.href='/posts'" class="float_left">Home</button>
  <button onclick="location.href='/users/new'" class="float_right">Sign Up</button>
</div>
<h3>Login</h3>

<form class="checkValidation" action="/login" method="post">
  <div class="inputs">
    <div class="floats">
      <label>Email</label>
      <input class="cvRequired" type="text" name="email" cvRqErrMsg="Please enter your login email." cvRqErrTo="#cvRqErrEmail" value="">
      <div id="cvRqErrEmail" class="message"></div>
    </div>
    <div class="floats">
      <label>Password</label>
      <input class="cvRequired" type="password" name="password" cvRqErrMsg="Please enter your password." cvRqErrTo="#cvRqErrPassword" value="">
      <div id="cvRqErrPassword" class="message"></div>
    </div>
    <% loginError.forEach(function(e){ %>
        <div class="message"><%= e %><div>
    <% }) %>
  </div>
  <div class="loginSubmitBtn">
    <button type="submit">Submit</button>
  </div>
</form>
-->

<div class="login-card">
  <h1>Log-in</h1><br>
  <form class="checkValidation" action="/login" method="post">
    <input class="cvRequired" type="text" name="email" cvRqErrMsg="Please enter your login email." cvRqErrTo="#cvRqErrEmail" placeholder="Email" value="">
    <input class="cvRequired" type="password" name="password" cvRqErrMsg="Please enter your password." cvRqErrTo="#cvRqErrPassword" placeholder="Password" value="">
    <input type="submit" name="login" class="login login-submit" value="login">
  </form>

  <div class="login-help">
    <a href="/users/new">Register</a> • <a href="#">Forgot Password</a>
  </div>
</div>

<!-- main end -->
    </div><!--login end -->
    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
